<!--
The `<abas-styles>` component provides simple ways to use Material Design CSS styles
in your application. The following imports are available:

1. [color.html](https://github.com/PolymerElements/abas-styles/blob/master/color.html):
a complete list of the colors defined in the Material Design [palette](https://www.google.com/design/spec/style/color.html)

1. [abas-color.html](#):
a complete list of the abas colors

2. [abas-default-theme.html](https://github.com/PolymerElements/abas-styles/blob/master/default-theme.html): text,
background and accent colors that match the default abas Design theme

3. [abas-shadow.html](https://github.com/PolymerElements/abas-styles/blob/master/shadow.html): Material Design
[elevation](https://www.google.com/design/spec/what-is-material/elevation-shadows.html) and shadow styles

4. [abas-typography.html](https://github.com/PolymerElements/abas-styles/blob/master/typography.html):
Material Design [font](http://www.google.com/design/spec/style/typography.html#typography-styles) styles and sizes

We recommend importing each of these individual files, and using the style mixins
available in each ones, rather than the aggregated `abas-styles.html` as a whole.

@pseudoElement abas-styles
@demo demo/index.html
-->

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="color.html">
<link rel="import" href="abas-color.html">
<link rel="import" href="abas-default-theme.html">
<link rel="import" href="abas-shadow.html">
<link rel="import" href="abas-typography.html">
