<custom-style>
  <style is="custom-style">
    html {
      /*abas UI color palette total*/

      --abas-red-100: #a51f2c; /* DARKER COLOR */
      --abas-red-300: #cd2735;
      --abas-red-500: #e1616d;
      --abas-red-700: #ec9ea5;
      --abas-red-800: #f8dcdf; /* SOFTER COLOR */

      --abas-blue-100: #13427b; /* DARKER COLOR */
      --abas-blue-300: #1a5dad;
      --abas-blue-500: #3b86e1;
      --abas-blue-700: #95beef;
      --abas-blue-800: #d4e4f8; /* SOFTER COLOR */

      --abas-orange-100: #c97111; /* DARKER COLOR */
      --abas-orange-300: #e68213;
      --abas-orange-500: #ef9f47;
      --abas-orange-700: #f4bd80;
      --abas-orange-800: #fadfc2; /* SOFTER COLOR */

      --abas-yellow-100: #d5b309; /* DARKER COLOR */
      --abas-yellow-300: #ebc80a;
      --abas-yellow-500: #f8de5a;
      --abas-yellow-700: #fcf6aa;
      --abas-yellow-800: #fdf8df; /* SOFTER COLOR */

      --abas-lime-100: #9fa616; /* DARKER COLOR */
      --abas-lime-300: #bec61b;
      --abas-lime-500: #d7e01e;
      --abas-lime-700: #e7ed77;
      --abas-lime-800: #f3f6bc; /* SOFTER COLOR */

      --abas-green-100: #6ba024; /* DARKER COLOR */
      --abas-green-300: #84c32c;
      --abas-green-500: #a6da60;
      --abas-green-700: #c9e99f;
      --abas-green-800: #e6f5d3; /* SOFTER COLOR */

      --abas-black-100: #2a3539; /* DARKER COLOR */
      --abas-black-300: #525b60;
      --abas-black-500: #a0a4a7;
      --abas-black-700: #cbccce;
      --abas-black-800: #ffffff; /* SOFTER COLOR */

      --abas-abasgreen-100: #227e74; /* DARKER COLOR */
      --abas-abasgreen-300: #1bbaa4;
      --abas-abasgreen-500: #8dddd2;
      --abas-abasgreen-700: #bbebe4;
      --abas-abasgreen-800: #d7f9f4; /* SOFTER COLOR */
    }
  </style>
</custom-style>
