<link rel="import" href="abas-color.html">
<link rel="import" href="abas-typography.html">

<custom-style>
  <style is="custom-style">
    html {
      /*
       * Badge colors for abas application
       */
      --primary-badge-color: #e30047;
      /*
      * Links color
      */
      --primary-link-color: #3b86e1;
      /*
       * Text colors for abas application
       */
      --primary-text-color: var(--light-theme-text-color);
      --primary-background-color: var(--light-theme-background-color);
      --secondary-text-color: var(--light-theme-secondary-color);
      --disabled-text-color: var(--light-theme-disabled-color);
      --divider-color: var(--light-theme-divider-color);
      --error-color: var(--paper-deep-orange-a700);

      /*
       * Primary and accent colors. Also see abas-color-syles.html for more colors.
       */
      --primary-color: var(--abas-abasgreen-300) !important;
      --light-primary-color: var(--paper-indigo-100);
      --dark-primary-color: var(--paper-indigo-700);
      --accent-color: var(--abas-abasgreen-300) !important;;
      --accent-primary-text-color: var(--abas-black-800) !important;; /* Text on accent color */
      --accent-secondary-text-color: var(--abas-abasgreen-100) !important;; /* Text on accent color */
      --light-accent-color: var(--paper-pink-a100);
      --dark-accent-color: var(--paper-pink-a400);
      --warning-accent-color: var(--abas-red-500) !important;;

      /*
       * Light background theme
       */
      --light-theme-background-color: var(--abas-black-800) !important;;
      --light-theme-base-color: #000000;
      --light-theme-text-color: var(--abas-black-100) !important;;
      --light-theme-secondary-color: #737373; /* for secondary text and icons */
      --light-theme-disabled-color: #9b9b9b; /* disabled/hint text */
      --light-theme-divider-color: #dbdbdb;
      /*
       * Dark background theme
       */
      --dark-theme-background-color: var(--abas-black-100) !important;;
      --dark-theme-base-color: #ffffff;
      --dark-theme-text-color: #ffffff;
      --dark-theme-secondary-color: #bcbcbc; /* for secondary text and icons */
      --dark-theme-disabled-color: #646464; /* disabled/hint text */
      --dark-theme-divider-color: #3c3c3c;
    }
  </style>
</custom-style>
