<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../font-roboto/roboto.html">

<custom-style>
  <style is="custom-style">
    html {
      /* Shared Styles */
      --abas-font-common-base: {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
      };
      --abas-font-common-code: {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, monospace;
        -webkit-font-smoothing: antialiased;
      };
      --abas-font-common-expensive-kerning: {
        text-rendering: optimizeLegibility;
      };
      --abas-font-common-nowrap: {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      };
      /* Abas Font Styles */
      --abas-font-display4: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 112px;
        font-weight: 300;
        letter-spacing: -.044em;
        line-height: 120px;
      };
      --abas-font-display3: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 56px;
        font-weight: 400;
        letter-spacing: -.026em;
        line-height: 60px;
      };
      --abas-font-display2: {
        @apply (--abas-font-common-base);
        font-size: 45px;
        font-weight: 400;
        letter-spacing: -.018em;
        line-height: 48px;
      };
      --abas-font-display1: {
        @apply (--abas-font-common-base);
        font-size: 34px;
        font-weight: 400;
        letter-spacing: -.01em;
        line-height: 40px;
      };
      --abas-font-headline: {
        @apply (--abas-font-common-base);
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -.012em;
        line-height: 32px;
      };
      --abas-font-title: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
      };
      --abas-font-subhead: {
        @apply (--abas-font-common-base);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      };
      --abas-font-body2: {
        @apply (--abas-font-common-base);
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      };
      --abas-font-body1: {
        @apply (--abas-font-common-base);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      };
      --abas-font-caption: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.011em;
        line-height: 20px;
      };
      --abas-font-menu: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
      };
      --abas-font-button: {
        @apply (--abas-font-common-base);
        @apply (--abas-font-common-nowrap);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.018em;
        line-height: 24px;
        text-transform: uppercase;
      };
      --abas-font-code2: {
        @apply (--abas-font-common-base);
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
      };
      --abas-font-code1: {
        @apply (--abas-font-common-base);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      };
      --abas-font-link: {
        @apply (--abas-font-common-base);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      };
    }
  </style>
</custom-style>
